body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    &.single-child {
        display: flex;

        & > * {
            width: 100%;
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}

a {
    transition: 0.35s;
}

img {
    width: 100%;
}
