html {
    font-size: 14px;

    @media (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 100%;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    padding-left: 60px;

    @media (min-width: map-get($grid-breakpoints, 'md')) {
        padding-left: 280px;
    }
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
    h2, .h2 {
        font-size: 1.5rem;
    }

    h3, .h3 {
        font-size: 1.25rem;
    }

    h4, .h4 {
        font-size: 1.15rem;
    }
}
