#feedback {
    padding: 90px 0;
    background: url('../../../images/bg/feedback-bg.jpg') 50% 50% /cover no-repeat;

    @media (min-width: map-get($grid-breakpoints, 'lg')) {
        padding: 240px 0 225px;
    }

    .section-description {
        &-title {
            max-width: 100%;
        }
    }

    .container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -80px;
            left: -120px;
            right: -120px;
            bottom: -100px;
            border: 15px solid rgba($primary , .7);

            @media (max-width: map_get($grid-breakpoints, lg)) {
                display: none;
            }
        }
    }
}
