#teachers-show {
    padding-bottom: 80px;

    .breadcrumbs-list {
        margin-bottom: 250px;
    }

    .reviews-page-content {
        margin-bottom: 40px;
    }

    .page-secondary-item {
        margin: 160px 0 90px;
    }

    .header-banner-slider-nav {
        background: transparent;
    }

}